
.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "box-1 box-2 box-3 sidebar sidebar sidebar"
    "mainContent mainContent mainContent sidebar sidebar sidebar"
    "footer footer footer footer footer footer";
  gap: 10px;
  padding: 40px 20px;
  grid-auto-rows: 200px;
}

.header {
  grid-area: header;
}
.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.sidebar {
  grid-area: sidebar;
}
.mainContent {
  grid-area: mainContent;
}
.footer {
  grid-area: footer;
}

.container > div {
  background-color: rgb(65, 105, 225);
  color: white;
  padding-bottom: 50px;
  padding-right: 50px;
  font-size: 30px;
  /* margin-top: 0px; */

}